__pycache__
etc/
include/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
lib64
share/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
bin/
pyvenv.cfg

/cache/**
!/cache/d3_data.json
!/cache/dfs_visited_nodes.json
!/cache/bfs_visited_nodes.json
!/cache/dfs_search_visited_nodes.json
!/cache/bfs_search_visited_nodes.json
